// slim -m -d seed=42 -d rep=1 

initialize() {
  setSeed(seed);
  defineConstant("N", 10000); // population size
  defineConstant("L", 12071326); // genome length
  initializeTreeSeq(simplificationRatio=100);
  initializeMutationType("m1", 0.5, "g", -(5/N), 1.0); //Mean and shape of the gamma distribution
  initializeGenomicElementType("g1", m1, 1.0);
  initializeMutationRate(1.7e-7);
  initializeRecombinationRate(1e-7, L-1);

  // read exon coordinates:
  lines = readFile("Exons.csv");
  for (line in lines) {
    components = strsplit(line, ",");
    a = asInteger(components[0]);
    b = asInteger(components[1]);
    initializeGenomicElement(g1, a, b);
  }

  // compute growth rate
  defineConstant("growthRate", (100/10000)^(1/190001));

  // time recording:
  defineConstant("start", clock());
}

1 {
  print("Starting simulations...");
  sim.addSubpop("p1", N);
}

10000:200000 early() {
  newSize = asInteger(round(growthRate^(sim.generation - 9999) * 10000));
  p1.setSubpopulationSize(newSize);
}

100 late() {
  print((clock() - start) + ": 100 generations done.");
}

1000 late() {
  print((clock() - start) + ": 1000 generations done.");
}

10000 late() {
  print((clock() - start) + ": 10000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

20000 late() {
  print((clock() - start) + ": 20000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

50000 late() {
  print((clock() - start) + ": 50000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

100000 late() {
  print((clock() - start) + ": 100000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

200000 late() {
  print((clock() - start) + ": 200000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
  sim.simulationFinished(); //200,000 should be enough
}

300000 late() {
  print((clock() - start) + ": 300000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

400000 late() {
  print((clock() - start) + ": 400000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

500000 late() {
  print((clock() - start) + ": 500000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

600000 late() {
  print((clock() - start) + ": 600000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

700000 late() {
  print((clock() - start) + ": 700000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

800000 late() {
  print((clock() - start) + ": 800000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

900000 late() {
  print((clock() - start) + ": 900000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

1000000 late() {
  print((clock() - start) + ": 1000000 generations done.");
  sim.treeSeqOutput(paste0("simSc_demoDecline_rep", rep, ".trees"));
}

